@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<p class="lead">Lo sentimos, ha ocurrido un error inesperado.</p>
<p class="lead">Vuelva mas tarde</p>
