@page
@model CSPharma_FinalVersion.Pages.Auth.SignUpModel
@{
}

<form asp-controller="Register" asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="model.CodEmpleado" class="control-label"></label>
        <input asp-for="model.CodEmpleado" class="form-control" />
        <span asp-validation-for="model.CodEmpleado" class="text-danger"></span>
    </div>          

    <div class="form-group">
        <label asp-for="model.ClaveEmpleado" class="control-label"></label>
        <input asp-for="model.ClaveEmpleado" type="password" class="form-control" />
        <span asp-validation-for="model.ClaveEmpleado" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="model.ConfirmPassword" class="control-label"></label>
        <input type="password" asp-for="model.ConfirmPassword" class="form-control" />
        <span asp-validation-for="model.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
